* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Open Sans", sans-serif;
}

.section1 {
  padding: 0 !important;
}

.logo-img {
  width: 60px;
  height: 40px;
}

.logo-text a {
  font-size: 16px !important;
  text-decoration: none !important;
}

.logo-text p {
  font-size: 8px !important;
  color: #bfc1c8 !important;
}

.home-btn {
  color: #009ad8 !important;
  border: 2px solid #009ad8 !important;
  padding: 5px 25px !important;
  border-radius: 30px !important;
  margin-left: 10px;
}

.btnn {
  padding: 5px 20px !important;
  border-radius: 25px !important;
  margin-left: 5px;
}

.btnn:hover {
  color: #009ad8 !important;
  border: 2px solid;
  font-size: 14px !important;
}
/* End of Navbar */

/* Start of Section2 */
.panner {
  background-image: url(https://hagerrabea.github.io/Weather-Api/images/banner.png);
  background-size: cover;
  background-position: center;
  height: 30vh !important;
  position: relative;
  border: none;
}

.location {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.search-input {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  color: white;
  border: none;
  border-radius: 30px;
}

.find {
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: none;
  background: #009ad8;
  padding: 10px 40px;
  border-radius: 30px;
  color: white;
}

.alert {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
  border-radius: 30px;
}

.divs {
  background-color: #262936 !important;
}

.threedivs {
  border-radius: 100px !important;
}

.div1,
.div3 {
  font-weight: 400 !important;
  background: #323544 !important;
  padding: 0 !important;
}

.yestarday-header {
  color: #bfc1c8 !important;
  background-color: #0000001a;
}

.yes-city {
  font-size: 18px !important;
}

.yes-tem {
  font-size: 70px;
  font-weight: bold !important;
  color: white !important;
}

.clear {
  color: #009ad8 !important;
  margin-bottom: 10px !important;
  font-size: 14px !important;
}

.div2 {
  background: #262936 !important;
  padding: 0 !important;
}

.tom-header,
.today-header {
  text-align: center !important;
  color: #bfc1c8 !important;
  background-color: #0000001a;
}

.tod-tem-max,
.tom-tem-max {
  font-size: 24px !important;
  color: white !important;
  font-weight: bold;
}

.tod-tem-min,
.tom-tem-min {
  color: #bfc1c8 !important;
}
